* {
  scroll-behavior: smooth;
}
.tituloA{
  color: #0064AC;
  font-weight: bold;
  padding-top: 20px;
}

h1{
  font-weight: bold;
}


a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.acontacto{
  color: white;
}
.acontacto:hover{

  color: white;
}
.carousel-item
{

  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.w-100 {
  width: 100%!important;
  height:  -webkit-fill-available;
}

.carousel-caption
{
  bottom: 35%;
}

.fondoazul
{
  opacity: .5;
}

.carousel-caption h5
{
  font-size: 45px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-caption p 
{
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-caption a
{
  background: #fff;
  padding: 10px 30px;
  display: inline-block;
  color: #0064AC;
  margin-top: 15px;
  border-radius: 40px;
 
}


/* menu */

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-nav .show > .nav-link{
  color: #fff;
}

.navbar-light .nabvar-nav .nav-link{
  color: #fff;
}

.navbar-nav{
  text-align: center;
}
.nav-link{
  padding: .2rem 1rem;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link
{
  position: relative;
  font-weight:bold;
  color:#fff;
  margin: 0px 15px;
  font-size: 20px;
}

.nav-link:after
{
        position: absolute;
        bottom: 7px;
        left: 0px;
        width: 100%;
        height: 4px;
        background-color: #fff;
        content: "";
        opacity: 0;
        transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        transform: translateY(20px); 
}

.nav-link:hover:after{
        opacity:1;
        transform: translateY(15px)
}



/* servicos */
.containerservicios
{
  padding-top: 50px;
  text-align: center;
}

.services
{
  display: flex;
  padding-top: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.Servicios
{
  text-align: center;
  justify-content: center;
  
}

.navbar-fixed.scrolled {
  background-color: rgba(0,0,0,0.5) !important;
  transition: background-color 200ms linear;
}





/* acerca de mi */


.containerAboutme
{
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
}

.imagenromel
{
  width: 50%;
  
}

.descripcion
{
  width: 50%;
  background-color: #E8E8E8;
  text-align: center;
}

.acercademititulo
{
  padding-top: 100px;
}
.textoDescripcion1{
  text-align: left;
  margin: 20px 20px;
}

.textodescripcion
{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  
}


/* agenda tu cita */

.containerAgendatucita
{
  text-align: center;
  padding-top: 50px;
  
}

.pasosagendar
{
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 150px;
  align-content: start;
  
  
}
.paso
{
  
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50x;
 
  
  
  
}
.pasodescripcion
{
  margin-top: 50px;
  margin-bottom: 50x;
  margin-left: 50px;
}

.pasoscontainer
{
  display: flex;
  justify-content: left;
  align-items: center;
}

.tituloagendar{
  color: #0064AC;
  font-weight: bold;
}
/* faq */

.containterpreguntas
{
  width: 100%;
  height: fit-content;
  background-color: #E2E2E2;
}


.titulopreguntas
{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
section{

  width: 100%;
  height: fit-content;
  background-color: #E2E2E2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containeracordion
{
  width: 100%;
  height: fit-content;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;

}

.accordion-item
{
  background-color:white;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: .5rem 2px .5rem rgba(0,0,0,0.1);
}

.accordion-link
{
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link i
{
  color: #00ABBF;
  padding: .5rem;
}

.flechabajo
{
  display: none;
}

.answer
{
  overflow: hidden;
  max-height: 0;
  position: relative;
  background-color:white;
  transition: max-height 650ms;
 
}

.answer::before
{
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
  background-color: #0064AC;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: black;
}

.answer p{
  color: black;
  font-size: 1.4rem;
  padding: 2rem;
}
.accordion-item:target .answer
{
  max-height: 20rem;
}

.accordion-item:target .accordion-link .flechaarriba
{
  display: none;
}

.accordion-item:target .accordion-link .flechabajo
{
  display: block;
}
 

/* educacion 

.containerarticulos
{
  padding-top: 50px;
  text-align: center;
  width: 100%;
  height: 500px;
  

}

.education{
  display: flex;
  padding-top: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.articulo
{
  width: 250px;
  height: 150px;
  border-radius: 15px;
  background-color: rgb(29, 117, 180);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

}


.textoEdcucacion{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
  font-weight: bold;
} */





/* contacto */

.containercontacto
{
  width: 100%;
  height: 600px;
  background-color: #0064AC;
  color: white;
  display: flex;
  padding: 50px;

}

.redessociales
{
  width: 50%;
  padding: 20px;

}

.dondeencontrarme
{
  width: 50%;
  padding: 20px;
}
.emmedica{
  display: flex;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  align-items: center;
  
}
.sanjose{
  display: flex;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  align-items: center;
}

.houseicon
{
  width: 50px;
  height: 50px;
}

.textodireccion
{
  padding-left: 15px;
}

.titulodondeencontrarme
{
  padding: 20px;
}

.tituloA{
  color: #0064AC;
}



 /* ipad pro*/
 @media screen and (max-width: 1030px)
 {
  
   .carousel-caption
   {
     bottom: 25%;
   }
 
   .logoromel
 {
   width: 190px;
   height: 100px;
 }
 .rayita{
  display: none;
}
.carousel-caption h5
{
  font-size: 45px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-caption p 
{
  width: 100%;
  margin: auto;
  font-size: 25px;
 
}

.carousel-caption a
{
  background: #fff;
  padding: 10px 30px;
  display: inline-block;
  color: #0064AC;
  margin-top: 15px;
  border-radius: 40px;
  font-size: 20px;
  
}

.tituloA{
  color: #0064AC;
}
.w-100 {
  width: 100%!important;
  height: unset;
}

 }

/* ipad */

@media screen and (max-width: 768px){
 
  .navbar-nav.ml-auto
  {
    background: rgba(0,0,0,0.5);
  }
  .navbar-toggler
  {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }
 
  .carousel-caption
{
  bottom: 22%;
}

.carousel-caption h5
{
  font-size: 35px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-caption p 
{
  width: 100%;
  margin: auto;
  font-size: 20px;
 
}

.carousel-caption a
{
  background: #fff;
  padding: 10px 30px;
  display: inline-block;
  color: #0064AC;
  margin-top: 15px;
  border-radius: 40px;

}

.logoromel
{
  width: 200px;
  height: 100px;
}

.tituloA{
  color: #0064AC;
}

.w-100 {
  width: 100%!important;
  height: unset;
}

.containerAboutme{
 
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  flex-wrap: wrap;
 

}
.imagenromel{
  width: 100%;
}

.descripcion{
  width: 100%;
  
}

.containerAgendatucita{
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
  flex-direction: column;
}

.pasosagendar{
  width: 100%;
  padding-left: 20px;
  align-content: unset;
  
}
.widget{
  width: 100%;
  height: 500px;
 
}




}

 /* iphone x */
 @media screen and (max-width: 750px)
 {
 
 
   .navbar-nav.ml-auto
   {
     background: rgba(0,0,0,0.5);
   }
   .navbar-toggler
   {
     padding: 1px 5px;
     font-size: 18px;
     line-height: 0.3;
     background: #fff;
   }
 
   .carousel-caption
   {
     bottom: 25%;
   }
 
   .logoromel
 {
   width: 150px;
   height: 75px;
 }
 
 .carousel-caption h5
 {
 font-size: 35px;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 }
 
 .carousel-caption p 
 {
 width: 100%;
 margin: auto;
 font-size: 15px;
 
 }
 
 .carousel-caption a
 {
 background: #fff;
 padding: 10px 10px;
 display: inline-block;
 color: #0064AC;
 margin-top: 15px;
 border-radius: 40px;
 width: 100px;
 height: 40px;
 font-size: 10px;
 white-space: nowrap;
 
 }
 
 .carousel-item
 {
   min-height: 300px;
   background: no-repeat center center scroll;
   -webkit-background-size: cover;
   background-size: cover;
 }
 .rayita{
   display: none;
 }
 
 .carousel-control-next {
  right: 0;
  height: 470px;
}
.carousel-control-prev {
  left: 0;
  height: 470px;
}
 .containerAboutme{
 
   display: flex;
   flex-direction: column;
   padding-top: 50px;
   flex-wrap: wrap;
  
 
 }
 .imagenromel{
   width: 100%;
 }
 
 .romelimagenn{
   width: 100%;
   height: 350px;
 }
 

 .iconoayudar{
   width: 150px;
   height: 150px;
 }

 .containerAboutme
{
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
}

 .descripcion{
   width: 100%;
 }
 
 .containerAgendatucita{
   display: flex;
   padding-top: 50px;
   flex-wrap: wrap;
   flex-direction: column;
 }
 
 .pasosagendar{
   width: 100%;
   padding-left: 20px;
   align-content: unset;
   
 }
 .pasodescripcion{
   font-size: 20px;
   text-align: left;
   padding-right: 10px;
 }
 .widget{
   width: 100%;
   height: 500px;
  
 }
 
 
 .containercontacto
 {
   width: 100%;
   height: 1000px;
   background-color: #0064AC;
   color: white;
   display: flex;
   padding: 50px;
   flex-direction: column;
 
 
 }
 
 .dondeencontrarme{
   width: 100%;
 }
 
 .redessociales{
   width: 100%;
 }
 .tituloA{
  color: #0064AC;
}
.w-100 {
  width: 100%!important;
  height: unset;
}

 
 }
 
 /* pixel 2 */
@media screen and (max-width: 500px)
{


  .navbar-nav.ml-auto
  {
    background: rgba(0,0,0,0.5);
  }
  .navbar-toggler
  {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }

  .carousel-caption
  {
    bottom: 15%;
  }

  .logoromel
{
  width: 150px;
  height: 70px;
}

.carousel-caption h5
{
font-size: 25px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

.carousel-caption p 
{
width: 100%;
margin: auto;
font-size: 13px;

}

.carousel-caption a
{
background: #fff;
padding: 5px 10px;
display: inline-block;
color: #0064AC;
margin-top: 15px;
border-radius: 40px;
width: 80px;
height: 30px;
font-size: 10px;
white-space: nowrap;

}

.carousel-item
{
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.rayita{
  display: none;
}

.containerAboutme{

  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
  flex-direction: column;

}
.imagenromel{
  width: 100%;
}

.romelimagenn{
  width: 100%;
  height: 350px;
}

h1{
  font-size: 25px;
}
h2{
  font-size: 23px;
}

h3{
  font-size: 20px;
}

.iconoayudar{
  width: 150px;
  height: 150px;
}
.descripcion{
  width: 100%;
}

.containerAgendatucita{
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
  flex-direction: column;
}

.pasosagendar{
  width: 100%;
  padding-left: 20px;
  align-content: unset;
  
}
.pasodescripcion{
  font-size: 20px;
  text-align: left;
  padding-right: 10px;
}
.widget{
  width: 100%;
  height: 500px;
 
}


.containercontacto
{
  width: 100%;
  height: 1000px;
  background-color: #0064AC;
  color: white;
  display: flex;
  padding: 50px;
  flex-direction: column;


}

.dondeencontrarme{
  width: 100%;
}

.redessociales{
  width: 100%;
}
.carousel-control-next, .carousel-control-prev {
  height: 275px;
}
.tituloA{
  color: #0064AC;
}
.w-100 {
  width: 100%!important;
  height: unset;
}

}


 /* galaxy 5 */
 @media screen and (max-width: 375px)
 {
 
 
   .navbar-nav.ml-auto
   {
     background: rgba(0,0,0,0.5);
   }
   .navbar-toggler
   {
     padding: 1px 5px;
     font-size: 18px;
     line-height: 0.3;
     background: #fff;
   }
 
   .carousel-caption
   {
     bottom: 17%;
   }
 
   .logoromel
 {
   width: 150px;
   height: 70px;
 }
 
 .carousel-caption h5
 {
 font-size: 25px;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 }
 
 .carousel-caption p 
 {
 width: 100%;
 margin: auto;
 font-size: 13px;
 
 }
 
 .carousel-caption a
 {

 display: inline-block;
 color: #0064AC;
 margin-top: 15px;
 border-radius: 40px;
 padding: 6px 12px;
 color: #0064AC;
 width: 80px;
 height: 30px;
 font-size: 10px;
 white-space: nowrap;
 
 }
 
 .carousel-item
 {
   min-height: 300px;
   background: no-repeat center center scroll;
   -webkit-background-size: cover;
   background-size: cover;
 }
 .rayita{
   display: none;
 }
 
 .containerAboutme{
 
   display: flex;
   padding-top: 50px;
   flex-wrap: wrap;
   flex-direction: column;
 
 }
 .imagenromel{
   width: 100%;
 }
 
 .romelimagenn{
   width: 100%;
   height: 300px;
 }
 
 h1{
   font-size: 25px;
 }
 h2{
   font-size: 23px;
 }
 
 h3{
   font-size: 20px;
 }
 
 .iconoayudar{
   width: 150px;
   height: 150px;
 }
 .descripcion{
   width: 100%;
  
 }
 
 .containerAgendatucita{
   display: flex;
   padding-top: 50px;
   flex-wrap: wrap;
   flex-direction: column;
 }
 
 .pasosagendar{
   width: 100%;
   padding-left: 20px;
   align-content: unset;
   
 }
 .pasodescripcion{
  font-size: 20px;
  text-align: left;
  padding-right: 10px;
}
 .widget{
   width: 100%;
   height: 500px;
  
 }
 
 
 .containercontacto
 {
   width: 100%;
   height: 1000px;
   background-color: #0064AC;
   color: white;
   display: flex;
   padding: 50px;
   flex-direction: column;
 
 
 }
 
 .dondeencontrarme{
   width: 100%;
 }
 
 .redessociales{
   width: 100%;
 }
 .tituloA{
  color: #0064AC;
}
.w-100 {
  width: 100%!important;
  height: unset;
}


 }

 /* iphone 5 */
 @media screen and (max-width: 360px)
 {
 
 
   .navbar-nav.ml-auto
   {
     background: rgba(0,0,0,0.5);
   }
   .navbar-toggler
   {
     padding: 1px 5px;
     font-size: 18px;
     line-height: 0.3;
     background: #fff;
   }
 
   .carousel-caption
   {
     bottom: 0%;
   }
 
   .logoromel
 {
   width: 150px;
   height: 65px;
 }
 
 .carousel-caption h5
 {
 font-size: 20px;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 }
 
 .carousel-caption p 
 {
 width: 100%;
 margin: auto;
 font-size: 10px;
 
 }
 
 .carousel-caption a
 {
  
  padding: 6px 12px;
  color: #0064AC;
  margin-top: 15px;
  width: 80px;
  height: 30px;
  font-size: 10px;
  white-space: nowrap;
 
 }
 
 .carousel-item
 {
   min-height: 213px;
   background: no-repeat center center scroll;
   -webkit-background-size: cover;
   background-size: cover;
 }
 .rayita{
   display: none;
 }
 
 .containerAboutme{
 
   display: flex;
   padding-top: 50px;
   flex-wrap: wrap;
   flex-direction: column;
 
 }
 .imagenromel{
   width: 100%;
 }
 
 .romelimagenn{
   width: 100%;
   height: 250px;
 }
 
 h1{
   font-size: 20px;
 }
 h2{
   font-size: 18px;
 }
 
 h3{
   font-size: 15px;
 }
 h4{
   font-size:15px;
 }
 
 
 .iconoayudar{
   width: 100px;
   height: 100px;
 }
 .descripcion{
   width: 100%;
  
 }
 .paso{
   height: 80px;
   width: 80px;
 }
 
 .containerAgendatucita{
   display: flex;
   padding-top: 50px;
   flex-wrap: wrap;
   flex-direction: column;
 }
 
 .pasosagendar{
   width: 100%;
   padding-left: 20px;
   align-content: unset;
   
 }
 .pasodescripcion{
  font-size: 20px;
  text-align: left;
  padding-right: 10px;
}
 .widget{
   width: 100%;
   height: 500px;
  
 }
 
 
 .containercontacto
 {
   width: 100%;
   height: 1000px;
   background-color: #0064AC;
   color: white;
   display: flex;
   padding: 50px;
   flex-direction: column;
 
 
 }
 
 .dondeencontrarme{
   width: 100%;
 }
 
 .redessociales{
   width: 100%;
 }

 .accordion-link {
  font-size: 1.3rem;
 

 }
 .answer p {
  color: black;
  font-size: 1rem;
  padding: 2rem;
}
.tituloA{
  color: #0064AC;
}
.w-100 {
  width: 100%!important;
  height: unset;
}

 
 }


 




